; Environment
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064764
[{{environment_name}}]
SourcePath={{rpo_path}}
RootPath={{dictionary_path}}
StartPath={{StartPath}}
LocalFiles={{local_files}}
Localdbextension={{localdbextension}}
PictFormat=Default
RpoDb={{rpodb}}
x2_path=
RpoLanguage={{rpolanguage}}
RpoVersion={{rpoversion}}
DebugThreadUsedMemory={{DebugThreadUsedMemory}}
ThreadMemWarning={{ThreadMemWarning}}
ThreadMemStep={{ThreadMemStep}}
KillStack={{KillStack}}
Trace={{Trace}}
TOPMemoMega={{TOPMemoMega}}
TraceStack={{TraceStack}}
MaxLocks={{MaxLocks}}
AdvSQLReplay={{AdvSQLReplay}}
AdvSQLReplayLog={{AdvSQLReplayLog}}
AdvSQLReplayPath={{AdvSQLReplayPath}}
AdvSQLReplayIOP={{AdvSQLReplayIOP}}
AdvSQLReplayLogMaxSize={{AdvSQLReplayLogMaxSize}}
LogProfilerPath={{soap_LogProfilerPath}}
StartSysInDB=1

;DBAccess
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064885
[DBAccess]
Server= {{DBAccessServer}}
Port={{dbaccess_port}}
Database={{sgbd}}
Alias={{alias}}
PROTHEUSONLY=0

;Drivers
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064839
[Drivers]
Active=TCP
MultiProtocolPort={{MultiProtocolPort}}
MultiProtocolPortSecure={{MultiProtocolPortSecure}}
;Secure={{Secure}}

;TCP
;https://tdn.totvs.com/pages/viewpage.action?pageId=135495723
[TCP]
Type={{Type}}
Port={{soap_tcp_port}}
Ip={{ip_app}}

;LicenseClient
;https://tdn.totvs.com/pages/viewpage.action?pageId=244734923
[LicenseClient]
Server={{license_ip}}
Port={{license_server_port}}

;General
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064796
[General]
CHECKSPECIALKEY=0
InstallPath= {{app_path}}
ConsoleLog={{ConsoleLog}}
ChangeEncodingBehavior={{ChangeEncodingBehavior}}
InactiveTimeout={{InactiveTimeout}}
CanAcceptDebugger={{CanAcceptDebugger}}
CanAcceptLB={{CanAcceptLB}}
CanAcceptMonitor={{CanAcceptMonitor}}
CanRunJobs={{CanRunJobs}}
CanAcceptRPC={{CanAcceptRPC}}
DebugThreadUsedMemory={{DebugThreadUsedMemory}}
FloatingPointPrecise={{FloatingPointPrecise}}
IdeMessages={{IdeMessages}}
ConsoleFile={{soap_consoleFile}}
AsyncConsoleLog=0
LogTimeStamp = {{LogTimeStamp}}
ShowFullLog={{ShowFullLog}}
ShowIPClient={{ShowIPClient}}
SocketMessages={{SocketMessages}}
;SSLRedirect={{SSLRedirect}}
LatencyLog={{LatencyLog}}
LatencyLogFile={{soap_latencyLogFile}}
LogHttpFuncs= {{LogHttpFuncs}}
MaxStringSize={{MaxStringSize}}
WsdlStreamType={{WsdlStreamType}}
SocketsDefaultIPV6={{SocketsDefaultIPV6}}
ServerMemoryLimit={{ServerMemoryLimit}}

;Service
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064864
[Service]
Name={{soap_name}}
Displayname={{soap_displayname}}
Description={{soap_description}}

;TDS
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064865
[TDS]
ALLOWAPPLYPATCH={{ALLOWAPPLYPATCH}}
ALLOWEDIT={{ALLOWEDIT}}
ENABLEDISCONNECTUSER={{ENABLEDISCONNECTUSER}}
ENABLESENDMESSAGE={{ENABLESENDMESSAGE}}
ENABLEBLOCKNEWCONNECTION={{ENABLEBLOCKNEWCONNECTION}}
ENABLESTOPSERVER={{ENABLESTOPSERVER}}

;SSLConfigure
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064865
[SSLConfigure]
[SSLConfigure]
Verbose = {{Verbose}}
SSL2    = {{SSL2}}
SSL3    = {{SSL3}}
TLS1_0  = {{TLS1_0}}
TLS1_1  = {{TLS1_1}}
TLS1_2  = {{TLS1_2}}
Bugs    = {{Bugs}}
State   = {{State}}
Debug   = {{Debug}}

;WEBAPP
;https://tdn.totvs.com/pages/viewpage.action?pageId=307834830
[WEBAPP]
Port={{soap_http_port}}
EnvServer={{EnvServer}}
LastMainProg={{LastMainProg}}
MaxBodySize={{MaxBodySize}}
MaxHeaderSize={{MaxHeaderSize}}
MaxRequestTime={{MaxRequestTime}}

[WEBAPP-HEADERS]
Access-Control-Allow-Origin=*

;HTTP
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064817
[HTTP]
Enable=1
Port={{soap_port}}
Compression=1
CorsEnable=1
instances={{soap_instances}}
LogRequest=0
LogResponse=0
ENABLEHTTPPROT=1
TIMEMSHTTPPROT=100
Path={{web_path}}
ip={{ip_app}}

;HTTPS
;https://tdn.totvs.com/pages/viewpage.action?pageId=135496188
;[HTTPS]
;ENABLE=1
;PORT=443
;PATH={{web_path}}
;ip={{ip_app}}
;ClientCertVerify=0
;SecureCookie=1

[ONSTART]
JOBS=JOB_PORTAL,JOB_WS
REFRESHRATE=300

[JOB_WS]
TYPE=WEBEX
ENVIRONMENT={{environment}}
INSTANCES={{soap_instances}}
SIGAWEB=WS
INSTANCENAME=webservices
ONSTART=__WSSTART
ONCONNECT=__WSCONNECT
ONEXIT=FINISHWEBEX

[localhost:{{soap_port}}]
ENABLE=1
PATH={{web_path}}
ENVIRONMENT={{environment_name}}
INSTANCENAME=webservices
RESPONSEJOB=JOB_WS
DEFAULTPAGE=wsindex.apw

[{{ip_app}}:{{soap_port}}]
ENABLE=1
PATH={{web_path}}
ENVIRONMENT={{environment_name}}
INSTANCENAME=webservices
RESPONSEJOB=JOB_WS
DEFAULTPAGE=wsindex.apw
