# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
#export LD_LIBRARY_PATH={{ lockserver_path }}:{{ license_appserver_path }}:{{ dbaccess_bin_path }}:{{ broker_path }}:{{ slave01_path }}:{{ slave02_path }}:{{ soap_path }}:{{ rest_path }}
export LD_LIBRARY_PATH=.
