
;General
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064709
[General]
Port={{ dbaccess_port }}
MonitorPort={{ dbaccess_monitor_port }}
LicenseServer= {{ license_ip }}
LicensePort= {{ license_server_port }}
maxStringSize=2
consoleLog=1
consoleFile={{ dbaccess_log }}
ConsoleMaxSize=20971520
ShowAllErrors=0
CountAllConnections=1
ReleaseInactiveConn=60
DBWarnings=0
AdjustColName=1
AuditDisconnectOnError=1
CheckDeadLock=0
ODBC30=1

;Service
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064711
[Service]
Name={{ service_name }}
DisplayName={{ service_name }}

[POSTGRES/protheus]
user=protheus
password=Žïô¸½½
TableSpace=
IndexSpace=

[POSTGRES]
environments=protheus